.nav {
  display: flex;
  justify-content: flex-end;  
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(53, 252, 8);
  animation: head 3s ease-in-out alternate;
}


.button {
  margin: 0 8px;
  padding: 12px;
  border-radius: 50%; 
  background-color: white;
  
}

.button{
  padding: 8px;
}

.button mat-icon {
  color: red;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5px;
}

.button:hover{
  background-color: green;
}

h1{
  flex: 1;
  color: rgb(228, 8, 8);
  animation: head1 4s ease-in-out alternate;
}

p{
 font-weight: 500;
  color: rgb(228, 8, 8);

}
.person{
    border-radius: 50%;
}

@keyframes head {
  from{
    opacity: 0;
    background-color: rgb(23, 243, 12);
  
  }
  to{
    opacity: 2;
    background-color: rgb(252, 252, 251);

  }

}

@keyframes head1 {
  from{
    transform: translateX(0px);
    
  
  }
  to{
   transform: translateX(100px);
  }

}

@media screen and (max-width:482px) {

   .nav {
    width: 100%;
    justify-content: space-between;
    padding: 8px 12px;             
  }
}